.header {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 15vi;
  background: linear-gradient(
    135deg,
    #2a5757 0%,
    #2a5757 40%,
    #3c6e6e 60%,
    #4c7f7f 100%
  );

  padding: 20px;
  text-align: center;
  color: #1e1e1e;
}

.button {
  background-color: #1f4444;
  color: #1e1e1e;
  border: none;
  cursor: pointer;
}
