<header class="global">
  <div class="header">

    <div class="top">

      <div class="logo-container">
        <img src="logo/logo.svg" alt="Dental Logo" />
      </div>

      <div class="description-block">
        <h1 class="title">Оказываем первую помощь без очереди</h1>
        <p class="subtitle">Ваша здоровая улыбка — наша забота</p>
      </div>

      <div class="contact-info">
        <div class="phone">
          <p>(123) 456-7890</p>
          <p>(123) 456-7890</p>
        </div>

        <div class="address">
          <p>Email: info&#64;dental.com</p>
          <a href="#">г. Обнинск, проспект Маркса 93, офис 1</a>
        </div>

        <button class="cta">Записаться</button>
      </div>

    </div>

    <nav class="navigation">
      <button class="nav-button">Главная</button>
      <button class="nav-button">О нас</button>
      <button class="nav-button">Акции</button>
      <button class="nav-button">Услуги</button>
      <button class="nav-button">Врачи</button>
      <button class="nav-button">Отзывы</button>
      <button class="nav-button">Контакты</button>
    </nav>

  </div>
</header>
