<footer class="global">
  <div class="footer">
    <div class="container-logo">
      <img style="width: 159px" src="/logo/logo.svg" alt="" />
      <a href=""
        ><img style="width: 15px" src="icons/instagram.svg" alt=""
      /></a>
      <a href="">Политика конфидициальности</a>
    </div>
    <div class="container-menu">
      <h2>Меню</h2>
      <button class="nav-button">О клинике</button>
      <button class="nav-button">Акции</button>
      <button class="nav-button">Специалисты</button>
      <button class="nav-button">Цены</button>
    </div>
    <div class="container-services">
      <h2>Услуги</h2>
      <button class="nav-services">Хирургическая стоматология</button>
      <button class="nav-services">Ортопедическая стоматология</button>
      <button class="nav-services">Терапевтическая стоматология</button>
      <button class="nav-services">Ортодонтическая стоматология</button>
      <button class="nav-services">Профилактическая стоматология</button>
    </div>
    <div class="container-contacts">
      <h2>Контакты</h2>
      <a class="nav-contacts" href=""> +7 (484) 397 22 22 </a>
      <a class="nav-contacts" href=""> +7 (910) 597 22 22 </a>
      <a class="nav-contacts" href="">info&#64;dental.com</a>
      <a class="nav-contacts" href="">Г. Обнинск, проспект Маркса 93, офис 1</a>
    </div>
  </div>
</footer>
