<main class="global">
  <section class="banner">
    <div class="banner-content">
      <h1>Подарите себе красивую улыбку</h1>
      <p>
        Эффективное лечение зубов без боли с гарантией результата
        высококвалифицированными врачами с использованием современного
        оборудования
      </p>
      <button class="banner-btn">Записаться на приём</button>
    </div>

    <div class="banner-image">
      <img src="images/banner.jpg" alt="Dental Banner" />
    </div>
  </section>
  <section class="clinic-services">
    <div class="service-text"><h1>Услуги нашей клиники</h1></div>

    <div class="slider">
      <div
        class="slides"
        [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
      >
        <div class="slide" *ngFor="let img of images">
          <img [src]="img" alt="image" />
        </div>
      </div>

      <button class="nav prev" (click)="prev()">&#10094;</button>
      <button class="nav next" (click)="next()">&#10095;</button>

      <!-- <div class="dots">
        <span
          *ngFor="let img of images; let i = index"
          class="dot"
          [class.active]="i === currentIndex"
          (click)="goTo(i)"
        ></span>
      </div> -->
    </div>

    <div class="service-text">
      <h1>Хотите узнать предварительную стоимость лечения?</h1>
      <p>*Стоимость лечения зависит от Вашего индивидуального случая</p>
      <button class="price-button">Узнать стоимость лечения</button>
    </div>
  </section>
  <section class="about-clinic">
    <div class="about-container">
      <div class="about-left">
        <h2>О нашей клинике</h2>

        <p class="about-description">
          Стоматология Dental Clinic - это оказание доступной и качественной
          медицинской помощи!
        </p>

        <p>
          Нашим специалистам можно довериться и получить высококвалифицированную
          врачебную услугу.
        </p>

        <p class="about-bold">
          НАША КОМАНДА ПРОФЕССИОНАЛОВ РАБОТАЕТ РАДИ ВАШИХ УЛЫБОК КАЖДЫЙ ДЕНЬ!
        </p>

        <div class="about-items">
          <div class="about-item">
            <img src="/icons/zub-galochka.svg" alt="check" />
            <div>
              <h4>РЕШАЕМ ВОПРОС ЛЮБОГО УРОВНЯ СЛОЖНОСТИ</h4>
              <p>
                Предоставляем комплексное лечение, в котором принимают участие
                несколько наших специалистов
              </p>
            </div>
          </div>

          <div class="about-item">
            <img src="/icons/koshelyok.svg" alt="wallet" />
            <div>
              <h4>СТАВИМ РАЗУМНЫЕ ЦЕНЫ НА ЛЕЧЕНИЕ</h4>
              <p>
                План лечения всегда составляется в интересах пациента, а не ради
                выгоды клиники
              </p>
            </div>
          </div>

          <div class="about-item">
            <img src="/icons/med-sestra.svg" alt="nurse" />
            <div>
              <h4>ДОБРОЖЕЛАТЕЛЬНЫЙ И ВЕЖЛИВЫЙ ПЕРСОНАЛ</h4>
              <p>
                Наши стоматологи несут профессиональную ответственность за
                результат лечения пациентов. Без сомнения, нам можно доверять.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-right">
        <img src="/images/big-tooth.png" alt="tooth" />
      </div>
    </div>
  </section>
</main>
