.global {
  background: #2a5757;
}

/* HERO */
.banner {
  position: relative;
  max-width: 85vw;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 40px;
}

/* Текст */
.banner-content {
  flex: 1;
  color: white;
  z-index: 2;
  max-width: 500px;
}

.banner-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
}

/* Кнопка */
.banner-btn {
  padding: 14px 30px;
  background: white;
  color: #2a5757;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.banner-btn:hover {
  background: #e0ffff;
}

/* Картинка */
.banner-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  display: block;

  /* магия растворения */
  mask-image: linear-gradient(to left, black 65%, transparent 100%);
  -webkit-mask-image: linear-gradient(to left, black 65%, transparent 100%);
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px; /* регулируй */
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to right,
    rgba(42, 87, 87, 0) 0%,
    rgba(42, 87, 87, 0.4) 40%,
    rgba(42, 87, 87, 0.8) 70%,
    #2a5757 100%
  );
}
//tablets
@media (max-width: 1200px) {
  .banner {
    max-width: 100%;
  }
}
//tablets-small
@media (max-width: 990px) {
  .banner-content h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .banner-content p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.9;
  }
}
//mobyiles
@media (max-width: 767px) {

  .banner-image img {
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.5;
}

}

.clinic-services {
  max-width: 80vw;
  margin: 0 auto;
  padding: 90px 0;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  .slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
  }

  .slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(236, 236, 236, 0.45);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .prev {
    left: 30px;
  }

  .next {
    right: 30px;
  }

  // .dots {
  //   display: flex;
  //   justify-content: center;
  //   gap: 8px;
  //   padding: 10px 0;
  //   position: absolute;
  //   bottom: 10px;
  //   width: 100%;

  //   .dot {
  //     width: 10px;
  //     height: 10px;
  //     background: rgba(255, 255, 255, 0.4);
  //     border-radius: 50%;
  //     cursor: pointer;
  //     transition: 0.25s;

  //     &.active {
  //       background: white;
  //       transform: scale(1.3);
  //     }
  //   }
  // }
}

.price-button {
  background: #e0ffff;
  color: #2a5757;
  border: #e0ffff 1px solid;
  border-radius: 20px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background: #2a5757;
    color: #e0ffff;
  }
}