* {
  box-sizing: border-box;
  font-family: Manrope;
  text-decoration: none;
  color: white;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}
